@font-face {
    font-family: 'Hiragino Maru Gothic Std';
    src: url('../fonts/HiraginoMaruGothicStd.otf');
}

div {
    font-family: 'Hiragino Maru Gothic Std';
}

body {
    background-image: url(../images/background.png);
    background-color: black;
    background-size: cover;
    background-position: 60%;
}

html,
body {
    margin: 0;
    height: 100%;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.5);
}


.front {
    color: black;
    z-index: 2;
    margin-bottom: 0 !important;
}

.outline {
    -webkit-text-stroke: 5px white;
    user-select: none;
    z-index: 1;
    margin-bottom: 0 !important;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.parent div {
    padding: 5px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.navbar {
    border: 3px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}
.bubble-left {
    display: grid;
    grid-template-columns: 40px 20px 1fr;
    padding-top: 30px;
}

.chat-bubble-left {
    border: 5px solid transparent;
    border-left: 0;
    border-image: url(../images/chat-bubble-re-right.png) 50 round; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    
}

.chat-bubble-left-arrow {
    height: 100%;
    border: 20px solid transparent;
    border-image: url(../images/chat-bubble-re-arrow.png) 200 stretch;
    border-right: 0;
    
}

.bubble-right {
    display: grid;
    grid-template-columns: 1fr 20px 40px;
    padding-top: 30px;
}

.chat-bubble-right {
    border: 5px solid transparent;
    border-right: 0;
    border-image: url(../images/chat-bubble-re-left.png) 50 round; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    
}

.chat-bubble-right-arrow {
    height: 100%;
    border: 20px solid transparent;
    border-image: url(../images/chat-bubble-re-arrow-r.png) 200 stretch;
    border-left: 0;
    
}
.message-text {
    height: 100%;
    margin-bottom: 0;
    padding-top: 2px;
    text-align: left;
    padding-left: 4px;
}
.chat-face-left {
    align-items: flex-end;
    display: flex;
    padding-right: 4px;
}
.chat-face-right {
    align-items: flex-end;
    display: flex;
    padding-left: 4px;
}